on:
  workflow_dispatch:
  schedule:
  - cron: '4 23 * * *'

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    environment: defaultenv
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v5
    - name: 'run the python script'
      run: |
        uv run fetch.py "$(< last_post.txt)"
        echo "$(< last_post.txt)"
      env:
        KINGSBOTSECRET: ${{ secrets.KINGSBOTSECRET }}
        KINGSURL: ${{ secrets.KINGSURL }}
    - name: 'configure git'
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "actions@github.com"
    - name: 'commit if changed'
      run: |
        git add last_post.txt
        if [[ $(git diff --staged --name-only) ]]; then
          git commit -m "Saved new post [skip actions]"
          git push origin main
        else
          echo "No changes detected"
        fi
